body{
    margin: 0;
    text-align:center;
    background-color: #f8f5f1;
    font-family: 'Euphoria Script', cursive
    
}
h1{
    margin-top: 0;



}
p
{
    font-family: 'Architects Daughter', cursive;
}
li{
    font-family: fantasy;
}
.bottom-container
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}