body{
    margin: 0;
    text-align:center;
    background-color: #f8f5f1;
    font-family: 'Euphoria Script', cursive
    
}
 .profile-image{


    width: 20%;
    height: 20%;
    border-radius: 50%;
  }
  .design-image
  {
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      border-radius: 50%;
  }
h1{
    margin-top: 0;



}
p
{
    font-family: 'Architects Daughter', cursive;
}
li{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.bottom-container
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #2C1ED0);
    background-image: -moz-linear-gradient(top, #3D94F6, #2C1ED0);
    background-image: -ms-linear-gradient(top, #3D94F6, #2C1ED0);
    background-image: -o-linear-gradient(top, #3D94F6, #2C1ED0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #2C1ED0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 27px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: Arial;
    width: 209px;
    font-size: 28px;
    font-weight: 100;
    padding: 16px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .Btn:hover {
    border: solid #337FED 1px;
    background: #D01E61;
    background-image: -webkit-linear-gradient(top, #D01E61, #ffcc29);
    background-image: -moz-linear-gradient(top, #D01E61, #ffcc29);
    background-image: -ms-linear-gradient(top, #D01E61, #ffcc29);
    background-image: -o-linear-gradient(top, #D01E61, #ffcc29);
    background-image: -webkit-gradient(to bottom, #D01E61, #ffcc29);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .bottom-container
 {
     background-color:#1597bb;
     padding: 50px 0 20px;
     
 }
 .footer-link{
     margin: 10px 20px;
     text-decoration: none;
     color: white;

 }
 .contact-me
 {
     margin: 40px auto 60px;
    
 }
 hr{
     border: dotted;
     border-bottom: none;
     width: 4%;
     margin: 100px auto;
 }
.gif
{
    margin-bottom: 100px;

}